# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pdb
*.log
*.swp

# Environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs and Editors
.idea/
.vscode/
*.sublime-workspace

# Pytest
.cache
nosetests.xml
coverage.xml
*.cover
*.hypothesis/

# PyInstaller
dist/
build/
*.spec

# VSCode Settings
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Data files (e.g. sensitive or large datasets)
data/
*.csv

# Temporary files
*.bak
*.tmp
